.navbar{
    height: 3em;
    background-color: rgb(167, 224, 250);
    padding: 0;
    margin: 0;
}

.search{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}