<div class="navbar"></div>
<div class="search">
  <label>Search Country By:</label>
  <select class="seachOption" name="seachOption" id="seachOption" [(ngModel)]="seachOption">
    <option  *ngFor="let option of seachOptions; let i = index" [value]="option.id">
      {{option.name}}
    </option>
  </select>
  <input class="searchText" type="text" placeholder="Enter Search Text Here..." [(ngModel)]="searchText"><button class="submit" type="submit" (click)="search()"><i class="fa fa-search"></i></button>
</div>
<jw-modal id="custom-modal-1">
  <h1>Select Countries:</h1>
  
  <form [formGroup]="form" novalidate>
    <div *ngFor="let country of countries; let i=index">
      <label>
        <input type="checkbox" [value]="country.value" [name]="country.name" (change)="onCheckboxChange($event)" />
        {{country.name}}
      </label>
    </div>
  </form>
  
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>
<div *ngIf="reload">
  <app-country-details [data]="data"></app-country-details>
</div>